.modalOverlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 4;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  position: absolute;
  padding: 25px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.btnCancel {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 5px;
  top: 5px;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

